link(rel="stylesheet", href="/main.css")
meta(charset="utf-8")                                                         
script(src="/jquery.min.js")     
link(href="/jquery-ui.css", rel="stylesheet", type="text/css")
script(src="/jquery-ui.min.js")

