include ./head.jade
div#counters
  div Stupid sort
    p#stupidcounter(class="counter") 00 : 00
    div
      p Time:
      p#stupidtime(class="time") 00 : 00
  div Bubble sort
    p#bubblecounter(class="counter") 00 : 00
    div
      p Time:
      p#bubbletime(class="time") 00 : 00
  div Coctail sort
    p#coctailcounter(class="counter") 00 : 00
    div
      p Time:
      p#coctailtime(class="time") 00 : 00
  div Odd-even sort
    p#odd-evencounter(class="counter") 00 : 00
    div
      p Time:
      p#odd-eventime(class="time") 00 : 00
  div Insertion sort
    p#insertioncounter(class="counter") 00 : 00
    div
      p Time:
      p#insertiontime(class="time") 00 : 00
 
form#sort
  input#number(type="number", min="15", max="100",step="1", value="23")
  select#speed
    option( value="300") middle
    option( value="60") fast
    option( value="700") slow
  input(type="submit")
  div.checksort
    input.check(type="checkbox", name="Stupid", value="stupid", checked)
    div Stupid
  div.checksort
    input.check(type="checkbox", name="Bubble", value="bubble", checked)
    div Bubble
  div.checksort
    input.check(type="checkbox", name="Coctail", value="coctail", checked)
    div Coctail
  div.checksort
    input.check(type="checkbox", name="Odd-even", value="odd-even", checked)
    div Odd-even
  div.checksort
    input.check(type="checkbox", name="Insertion", value="insertion", checked)
    div Insertion
div#starting
  button#reset 
  button#start 
div#stupidcont(class="conteiner")
  div Stupid sort
  div#stupid(class="row")
div#bubblecont(class="conteiner")
  div Bubble sort
  div#bubble(class="row")
div#coctailcont(class="conteiner")
  div Coctail sort
  div#coctail(class="row")
div#odd-evencont(class="conteiner")
  div Odd-even sort
  div#odd-even(class="row")
div#insertioncont(class="conteiner")
  div Insertion sort
  div#insertion(class="row")
script(src="./async.js")
script(src="./main.js")
