body
  font-family arial
  width 90%
  margin 0 5% 0 5%
  
div.checksort
  padding 0
  display inline-block
 
  input, div 
    width auto
    height auto
    display inline-block

div#starting
  left 40%
  display none
  position relative
  margin 3vw

form#sort
  width 330px
  min-height 20%
  padding 10px
  border 1px solid black
  border-radius 4px
  position relative
  top 30%
  left 30%

form
  input, button, select, div.checksort
    background white
    border 1px solid black
    border-radius 3px
    width 100px
    height 35px
    font-size 1em
    margin 5px
    
  div
    font-size 1em
  input.check
    height 20px
  
div.conteiner
  display none
  margin 3vw
  
.counter
  display inline-block
  margin-left 5px

.row
  margin 10px 0 10px 0
  max-width 100%
  color white
  
  div 
    background black
    height 20px
    width 20px
    position relative
    display inline-block
    margin 2px 5px 2px 5px
    padding 5px
    text-align center
    border-radius 30px

#reset
  background url('/image/stop.svg') center no-repeat
  background-size 30px 
  height 30px
  width 30px
  border 0px
  margin 5px
#start
  background url('/image/play.svg') center no-repeat
  background-size 30px 
  height 30px
  width 30px
  border 0px
  margin 5px
