body
  font-family arial
input, button, select, div.checksort
  background white
  border 1px solid black
  border-radius 3px
  width 100px
  height 35px
  font-size 1.2em
  margin 5px
  
div.checksort
  padding 0
  display inline-block
 
  input, div 
    width auto
    height auto
    display inline-block

div#starting
  display none
  position relative
  margin 3vw

form#sort
  width 330px
  min-height 20%
  padding 10px
  border 1px solid black
  border-radius 4px
  position relative
  top 30%
  left 30%
  
div.conteiner
  display none
  margin 3vw
  
.counter
  display inline-block

.row
  margin 10px 0 10px 0
  max-width 80%
  color white
  
  div 
    background black
    height 20px
    width 20px
    position relative
    display inline-block
    margin 2px 5px 2px 5px
    padding 5px
    text-align center
    border-radius 30px
